<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-3.jpg">
        <app-company-sidebar></app-company-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-company-navbar></app-company-navbar>
        <router-outlet></router-outlet>
        <div>
            <app-company-footer></app-company-footer>
        </div>
    </div>
</div>