<nav class="navbar navbar-transparent  navbar-absolute">
    <div class="container-fluid">
        <!--<div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>-->
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <ul class="navbar-nav" style="display: flex; flex-direction: row;">
            <li class="nav-item" *ngFor="let menuItem of menuItems">
                <a class="nav-link" [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout();" style="cursor: pointer;">
                    <i class="material-icons">logout</i>
                </a>
            </li>
        </ul>
    </div>
</nav>