<div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="content">



        <div class="row" *ngIf="this.popup == 'home'">
            <div class="col-md-6" style="border-right: 1px solid rgb(165, 165, 165);">
                <div class="close-btn ismob" (click)="togglePopup();">×</div>
                <p style="font-size: 12px;color:rgb(80, 80, 80);font-weight:bold;text-align:left;">Member login</p>
                <app-login-user></app-login-user>

                <p style="font-size: 12px;color:rgb(80, 80, 80);font-weight:bold;text-align:left;">First visit ?</p>
                <p style="font-size: 12px;color:rgb(80, 80, 80);text-align:left;">Space reserved for TIC-ENIT members</p>
                <input style="font-size: 12px;" mat-raised-button (click)="createUserAccount();" type="button" class="btn btn-danger" value="Create account">

            </div>
            <div class="col-md-6 mobile" style="border-left: 1px solid rgb(165, 165, 165);">
                <div class="close-btn" (click)="togglePopup();">×</div>
                <br><br>
                <div class="card">
                    <div class="card-header card-header-danger" style="text-align: center;">
                        <h6  style="font-size: 12px;" class="card-title">Space reserved for companies</h6>

                    </div>
                    <div class="card-body">
                        <img src="../../../assets/img/comp.PNG" alt="" srcset="" style="width:80%;">
                        <p style="font-size: 12px;color:rgb(80, 80, 80);font-weight:bold;">Join TIC-ENIT companies now</p>
                    </div>
                    <input style="font-size: 12px;" mat-raised-button (click)="createCompanyAccount();" type="button" class="btn btn-danger" value="Join now">
                </div>

                <p style="font-size: 12px;color:rgb(80, 80, 80);font-weight:bold;text-align:left;">Already have an account ?</p>
                <input style="font-size: 12px;" mat-raised-button (click)="loginCompany();" type="button" class="btn btn-danger" value="Login">

            </div>
        </div>
        <div *ngIf="this.popup == 'createUserAccount'">
            <div class="close-btn" (click)="togglePopup();">×</div>
            <br><br>
            <app-register-user></app-register-user>
            <input style="font-size: 12px;" mat-raised-button (click)="this.popup = 'home';" type="button" class="btn btn-danger" value="Back">
        </div>
        <div class="mobile" *ngIf="this.popup == 'createCompanyAccount'">
            <div class="close-btn" (click)="togglePopup();">×</div>
            <br><br>
            <app-register-company></app-register-company>
            <input style="font-size: 12px;" mat-raised-button (click)="this.popup = 'home';" type="button" class="btn btn-danger" value="Back">
        </div>
        <div class="mobile" *ngIf="this.popup == 'loginCompany'">
            <div class="close-btn" (click)="togglePopup();">×</div>
            <br><br>
            <app-login-company></app-login-company>
            <input style="font-size: 12px;" mat-raised-button (click)="this.popup = 'home';" type="button" class="btn btn-danger" value="Back">

        </div>

    </div>
</div>
