
.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    display: block;
    font-size: 12px !important;
}

.popup .overlay {
    font-size: 12px !important;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 14;
    display: none;
}

.popup .content {
    font-size: 12px !important;
    position: fixed;
    margin-top: 80px;
    top: calc(50% - 80px);
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: RGB(238, 238, 238);
    width: 60%;
    /*height: auto;*/
    z-index: 15;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    border-radius: 4px;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 12px !important;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    font-size: 18px;
    border: 2px solid #222;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    background: #fff;
}

@media screen and (max-width : 800px) {
    .popup .content {
        position: fixed;
        margin-top: 80px;
        top: calc(50% - 80px);
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background: RGB(238, 238, 238);
        width: 100%;
        /*height: auto;*/
        z-index: 15;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        font-family: "Open Sans", sans-serif;
        border-radius: 4px;
        font-size: 12px !important;
    }
    .mobile{
        display: none;
    }
}
@media screen and (min-width : 800px) {
    .ismob{
        display: none;
    }
}

