<div class="container">
    <div class="input-group">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search topic</label>
        </div>
        <button type="button" class="btn btn-sm" style="background-color: #0d47a1">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <div>
        <button type="button" class="btn btn-primary" style="background-color: #0d47a1" (click)="openDialog()" >creat new post</button>
    </div>
</div>

<div class="posts">
    <div class="card text-center post">
        <div class="card-header">General topic</div>
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">
                With supporting text below as a natural lead-in to additional content.lorem>100 fdfdsfdscvfdsddfssd
            </p>
            <!--<a href="#" class="btn btn-primary">Button</a>-->
        </div>
        <p class="note note-primary">
            <strong>Note primary:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Cum doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus
            delectus placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
        </p>
        <div class="card-footer text-muted">Posted by Bechir 2 days ago</div>
    </div>
    <div class="card text-center post">
        <div class="card-header">Featured</div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
                With supporting text below as a natural lead-in to additional content.lorem>100 fdfdsfdscvfdsddfssd
            </p>

        </div>
        <p class="note note-primary">
            <strong>Note primary:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Cum doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus
            delectus placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
        </p>
        <div class="card-footer text-muted">Posted by Bechir 2 days ago</div>
    </div>
</div>


