<div class="container">
    <!--<div class="input-group">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search topic</label>
        </div>
        <button type="button" class="btn btn-sm" style="background-color: #0d47a1">
            <i class="fas fa-search"></i>
        </button>
    </div>-->
    <div>
        <button type="button" class="btn btn-primary" style="background-color: #0d47a1" (click)="openDialog()" >creat new post</button>
    </div>
</div>

<div class="posts">
    <div class="row" *ngFor="let p of posts">
        <div class="card text-center post">
            <div class="card-header">{{p.topic}}</div>
            <h5 class="card-title">{{p.title}}</h5>
            <p class="note note-info">
                <strong>Description:</strong> {{p.description}}
            </p>
            <p class="note note-primary">
                <strong>Post body:</strong> {{p.body}}
            </p>
            <div class="card-footer text-muted">Posted by {{p.userName}} at {{p.date}}</div>
        </div>
    </div>
    <div class="card text-center post">
        <div class="card-header">General topic</div>
        <h5 class="card-title">Special title treatment</h5>
            <p class="note note-info">
                <strong>Description:</strong> Lorem, immmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
            </p>
        <p class="note note-primary">
            <strong>Post body:</strong> Lorem, immmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
        </p>
        <div class="card-footer text-muted">Posted by Bechir 2 days ago</div>
    </div>

</div>

