<div class="main-content">
    <div class="container-fluid">
        <div class="row" *ngIf="page == 'add'">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger" style="text-align: center;">
                        <h4 class="card-title">Add users</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <input type="file" id="excel" style="display: none;" (change)="onFileSelected($event)" #fileInput accept=".xlsx, .xls, .xlsm, .xlsb, .xltx, .xltm, .xlt, .xml, .xlam, .xla, .xlw, .xlr, .ods" multiple="oui">
                                <button mat-raised-button type="button" class="btn btn-danger" style="margin-left:7px;cursor:pointer;" (click)="fileInput.click()">Add Excel file<i class="material-icons" style="margin-left: 7px;margin-right:auto;">add</i></button>
                                <button mat-raised-button type="button" class="btn btn-danger" style="margin-left:7px;cursor:pointer;" (click)="togglePopup1();">Add student manually<i class="material-icons" style="margin-left: 7px;margin-right:auto;">add</i></button>
                                <button mat-raised-button type="button" class="btn btn-danger" style="margin-left:7px;cursor:pointer;" (click)="togglePopup2();">Add company manually<i class="material-icons" style="margin-left: 7px;margin-right:auto;">add</i></button>
                                
                            </div>
                            <hr>
                            <div class="table-responsive" *ngIf="this.data.length > 0">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th *ngFor="let title of this.datahead; index as i">
                                            <select (change)="this.config[i] = $event.target.value">
                                                <option value="" disabled selected>Select ...</option>
                                                <option *ngIf="this.config.indexOf('firstname') == -1 || this.config.indexOf('firstname') == i " value="firstname">First Name</option>
                                                <option *ngIf="this.config.indexOf('lastname') == -1 || this.config.indexOf('lastname') == i" value="lastname">Last Name</option>
                                                <option *ngIf="this.config.indexOf('class') == -1 || this.config.indexOf('class') == i" value="class"> Class </option>
                                                <option *ngIf="this.config.indexOf('email') == -1 || this.config.indexOf('email') == i" value="email"> Email </option>
                                                <option *ngIf="this.config.indexOf('phone') == -1 || this.config.indexOf('phone') == i" value="phone"> Phone </option>
                                                <option *ngIf="this.config.indexOf('promotion') == -1 || this.config.indexOf('promotion') == i" value="promotion"> Promotion </option>
                                                <option *ngIf="this.config.indexOf('country') == -1 || this.config.indexOf('country') == i" value="country"> Country </option>
                                                <option *ngIf="this.config.indexOf('city') == -1 || this.config.indexOf('city') == i" value="city"> City </option>
                                                <option *ngIf="this.config.indexOf('address') == -1 || this.config.indexOf('address') == i" value="address"> Address </option>
                                           </select>
                                        </th>

                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of data; index as i">

                                            <td *ngFor="let donnee of user">
                                                {{ donnee }}
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button *ngIf="this.selected == true" mat-raised-button type="submit" class="btn btn-danger pull-right" id="submit-btn" (click)="registerUsers();">Save<i class="material-icons" style="margin-left: 7px;">save</i></button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="page == 'success'">
            <div class="col-md-12">
                <div class="card" style="padding: 20px; text-align:center;">
                    <img src="../../assets/img/success.jpg" alt="" style="width: 250px; margin-left:auto; margin-right:auto;"><br>
                    <h3> Users have been successfully registred <br></h3>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="this.page = 'add'">Back</button>

                </div>
            </div>
        </div>
        <div class="row" *ngIf="page == 'error'">

            <div class="col-md-12">
                <div class="card" style="padding: 20px; text-align:center;">
                    <img src="../../assets/img/error.PNG" alt="" style="width: 250px; margin-left:auto; margin-right:auto; border-radius:50%;"><br>
                    <h3> An error has occurred !<br> Please try again</h3><br>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="this.page = 'add'">Back</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" (click)="togglePopup1();">×</div>
        <br><br>
        <div class="row" *ngIf="pageuser == 'register'">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h5 class="card-title">Add student manually</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="type">You are : </label>
                                <input (click)="user.type = 'student';" type="radio" name="type" value="Student" style="width: 50px;" [checked]="type=='student'" /><span style="font-size:22px;"> Student </span>
                                <input (click)="user.type = 'alumni';" type="radio" name="type" value="Alumni" style="width: 50px;" [checked]="type=='alumni'" /><span style="font-size:22px;"> Alumni </span>
                            </div>
        
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input autofocus matInput placeholder="Fist Name" type="text" (input)="user.firstname = $event.target.value">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Last Name" type="text" (input)="user.lastname= $event.target.value">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email address" type="email" (input)="user.email = $event.target.value">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Phone number" type="phone" (input)="user.phone = $event.target.value">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4" *ngIf="user.type == 'student'">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Class</mat-label>
                                        <select matNativeControl required>
                                            <option *ngFor="let class of classes" (click)="user.class= class" [value]="class">
                                                {{class}}
                                            </option>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4" *ngIf="user.type == 'alumni'">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Work at" (input)="user.workAt = $event.target.value">
                                    </mat-form-field>
                                </div>
        
        
                            </div>
        
        
        
                            <div class="row">
                                <div class="col-md-4">
        
                                    <mat-form-field appearance="fill">
                                        <mat-label>Promotion</mat-label>
                                        <select matNativeControl required>
                                            <option *ngFor="let year of years" (click)="user.promotion= year" [value]="year">
                                                {{year}}
                                            </option>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Address" type="text" (input)="user.address=$event.target.value">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Linkedin" type="text" (input)="user.linkedin= $event.target.value">
                                    </mat-form-field>
                                </div>
        
        
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="City" type="text" (input)="user.city = $event.target.value" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Country" type="text" (input)="user.country= $event.target.value">
                                    </mat-form-field>
                                </div>
        
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="About me" (input)="user.aboutme= $event.target.value"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Password" type="password" (input)="user.password= $event.target.value">
                                    </mat-form-field>
                                </div>
                            </div>
        
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" id="submit-btn-user" (click)="registerUser();">Register</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" *ngIf="pageuser == 'success'">
            <div class="col-md-12">
                <div class="card" style="padding: 20px; text-align:center;">
                    <img src="../../assets/img/success.jpg" alt="" style="width: 250px; margin-left:auto; margin-right:auto;"><br>
                    <h3> You have been successfully registred <br> Check your email please !</h3>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="pageuser == 'error'">
        
            <div class="col-md-12">
                <div class="card" style="padding: 20px; text-align:center;">
                    <img src="../../assets/img/error.PNG" alt="" style="width: 250px; margin-left:auto; margin-right:auto; border-radius:50%;"><br>
                    <h3> An error has occurred !<br> Please try again</h3><br>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="this.pageuser = 'register'">Back</button>
        
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="popup" id="popup-2">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" (click)="togglePopup2();">×</div>
        <br><br>
        <div class="row" *ngIf="pagecompany == 'register'">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h5 class="card-title">Add company manually</h5>
        
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input autofocus matInput placeholder="Company Name" type="text" (input)="company.name = $event.target.value">
                                    </mat-form-field>
                                </div>
        
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email address" type="email" (input)="company.email = $event.target.value">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Phone number" type="phone" (input)="company.phone = $event.target.value">
                                    </mat-form-field>
                                </div>
        
        
        
                            </div>
        
        
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Address" type="text" (input)="company.address = $event.target.value">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="City" type="text" (input)="company.city = $event.target.value">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Country" type="text" (input)="company.country = $event.target.value">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Web site" type="text" (input)="company.website = $event.target.value">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="About the company" (input)="company.about = $event.target.value"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Password" type="password" (input)="company.password = $event.target.value">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" id="submit-btn-company" (click)="registerCompany();">Register</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="row" *ngIf="pagecompany == 'success'">
            <div class="col-md-12">
                <div class="card" style="padding: 20px; text-align:center;">
                    <img src="../../assets/img/success.jpg" alt="" style="width: 250px; margin-left:auto; margin-right:auto;"><br>
                    <h3> You have been successfully registred <br> Check your email please !</h3>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="pagecompany == 'error'">
        
            <div class="col-md-12">
                <div class="card" style="padding: 20px; text-align:center;">
                    <img src="../../assets/img/error.PNG" alt="" style="width: 250px; margin-left:auto; margin-right:auto; border-radius:50%;"><br>
                    <h3> An error has occurred !<br> Please try again</h3><br>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="this.pagecompany = 'register'">Back</button>
        
                </div>
            </div>
        </div>
    </div>
        
</div>
                