<div class="main-content" *ngIf="this.page == 'profile'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile" style="background: linear-gradient(rgb(0, 66, 189), #ffffff);">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="{{ this.picture }}" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category" style="font-size:18px; color:rgb(15, 15, 15);">Company</h6>
                        <h4 class="card-title" style="font-weight: bold; color:rgb(15, 15, 15);">{{ this.company.name }}</h4>
                        <p class="card-description" style="font-size:18px; color:rgb(27, 27, 27);">
                            {{ this.company.about }}
                        </p>
                        <a routerLinkActive="active" class="btn btn-danger btn-round" (click)="this.page = 'edit-profile';">Edit Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Profile company details</h4>

                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-5">
                                <p>
                                    <span class="titre">Company name : </span><span class="contenu">{{ this.company.name }}</span>
                                </p>
                            </div>

                            <div class="col-md-7">
                                <p>
                                    <span class="titre">Web site : </span><span class="contenu">{{ this.company.website }}</span>
                                </p>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-7">
                                <p>
                                    <span class="titre">Email : </span><span class="contenu">{{ this.company.email }}</span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <span class="titre">Phone : </span><span class="contenu">{{ this.company.phone }}</span>
                                </p>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <p>
                                    <span class="titre">Country : </span><span class="contenu">{{ this.company.country }}</span>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <span class="titre">City : </span><span class="contenu">{{ this.company.city }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <span class="titre">Address : </span><span class="contenu">{{ this.company.address }}</span>
                                </p>
                            </div>
                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="main-content" *ngIf="this.page == 'edit-profile'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile" style="background: linear-gradient(rgb(0, 66, 189), #ffffff);">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="{{ this.picture }}" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category" style="font-size:18px; color:rgb(15, 15, 15);">Company</h6>

                        <h4 class="card-title" style="font-weight: bold; color:rgb(15, 15, 15);">{{ this.company.name }}</h4>

                        <div class="row">
                            <div class="col-md-12">

                                <mat-form-field class="example-full-width">
                                    <textarea style="color:rgb(9,9,9);" [value]="this.company.about" matInput placeholder="About the company" (input)="company.about= $event.target.value"></textarea>
                                </mat-form-field>

                            </div>
                        </div>

                        <a routerLinkActive="active" class="btn btn-danger btn-round" (click)="updateProfile();">Save changes</a><br>
                        <a class="btn btn-default btn-round" (click)="cancel();">Cancel</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit your profile</h4>

                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                    <input [value]="this.company.name" matInput placeholder="Fist Name" type="text" disabled>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="example-full-width">
                                    <input [value]="this.company.website" matInput placeholder="Web site" (input)="company.website = $event.target.value">
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                    <input [value]="this.company.email" matInput placeholder="Email address" type="email" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input [value]="this.company.phone" matInput placeholder="Phone number" type="phone" (input)="company.phone = $event.target.value">
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input [value]="this.company.country" matInput placeholder="Country" type="text" (input)="company.country= $event.target.value">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input [value]="this.company.city" matInput placeholder="City" type="text" (input)="company.city = $event.target.value" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input [value]="this.company.address" matInput placeholder="Adress" type="text" (input)="company.address= $event.target.value">
                                </mat-form-field>
                            </div>
                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>