<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-3.jpg">
        <app-user-sidebar></app-user-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-user-navbar></app-user-navbar>
        <router-outlet></router-outlet>
        <div>
            <app-user-footer></app-user-footer>
        </div>
    </div>
</div>