<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h2 class="card-title ">Search</h2>
                        <select class="search_config" name="search" (input)="this.entity=$event.target.value" style="margin-right: 5px;">
                            <option value="" disabled selected>What are you looking for ?</option>
                            <option value="student" [selected]="this.entity == 'student'">Students</option>
                            <option value="company" [selected]="this.entity == 'company'"> Companies </option>
                            <option value="offer" [selected]="this.entity == 'offer'"> Offers </option>
                            
                       </select>
                        <select *ngIf="this.entity != ''" class="search_config" name="search" id="s" (input)="this.property=$event.target.value">
                            <option value="" disabled selected *ngIf="this.entity == 'student' || this.entity == 'company' ">Search with...</option>
                            <option value="" disabled selected *ngIf="this.entity == 'offer'">Search in...</option>
                            <option value="firstname" *ngIf="this.entity == 'student'">Name</option>
                            <option value="name" *ngIf="this.entity == 'company'">Name</option>
                            <option value="country" *ngIf="this.entity == 'student' || this.entity == 'company' "> Country </option>
                            <option value="city"*ngIf="this.entity == 'student' || this.entity == 'company' "> City </option>
                            <option value="promotion" *ngIf="this.entity == 'student'"> Promotion </option>
                            <option value="class" *ngIf="this.entity == 'student'"> Class </option>
                            <option value="PFA" *ngIf="this.entity == 'offer'">PFA</option>
                            <option value="PFE" *ngIf="this.entity == 'offer'"> PFE </option>
                            <option value="Intership" *ngIf="this.entity == 'offer'">Internships</option>
                            <option value="Job" *ngIf="this.entity == 'offer'"> Jobs </option>
                       </select>
                        <div class="search" *ngIf="this.property != '' && this.property != 'promotion' && this.property != 'class'">
                            <input type="text" name="serch" class="searchTerm" placeholder="What are you looking for?" (input)="this.key=$event.target.value">
                            <button class="searchButton" (click)="search()">Search</button>
                        </div>
                        <div class="search" *ngIf="this.property == 'promotion'">
                            <mat-form-field appearance="fill" class="searchTerm">
                                <mat-label>Promotion</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let year of years" (click)="this.key = year" [value]="year">
                                        {{year}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button class="searchButton" (click)="search()">Search</button>
                        </div>
                        <div class="search" *ngIf="this.property == 'class'">
                            <mat-form-field appearance="fill" class="searchTerm">
                                <mat-label>Class</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let class of classes" (click)="this.key= class" [value]="class">
                                        {{class}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button class="searchButton" (click)="search()">Search</button>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction:row;">
                        <!--<button *ngIf="this.entity != ''" class="searchButton1" style="margin-left: 17px;" (click)="getAll()">Get All</button>-->
                        <a class="change-mode" (click)="changeMode()" *ngIf="this.mode == 'table' &&( (this.entity == 'company' && this.companies.length != 0) || (this.entity == 'student' && this.users.length != 0))"><i class="material-icons">location_on</i></a>
                        <a class="change-mode" (click)="changeMode()" *ngIf="this.mode == 'map' &&( (this.entity == 'company' && this.companies.length != 0) || (this.entity == 'student' && this.users.length != 0))"><i class="material-icons">table_rows</i></a>
                    </div>

                    <div class="card-body" *ngIf="this.noResult"  style="text-align: center;">
                        <h2>No results !</h2>
                    </div>
                    <div class="card-body" *ngIf="this.mode == 'table'">
                        <div class="table-responsive" *ngIf="this.entity == 'student'">
                            <div class="container">
                                <br><br>

                            
                            <div class="row" *ngFor="let user of users; index as i">
                                <div class="card mb-5 mb-xl-0 card-profile">
                                    <div class="card-header card-header-info" style="text-align: left;">
                                        
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="card-avatar" style="width: 85px;">
                                                    <a href="javascript:void(0)">
                                                        <img class="img" src="{{ this.getPicture(i) }}" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="padding: 0px 0px;" id="nameComp">
                                                <h4 style="font-weight:bold;" >
                                                    {{ user.firstname + " " + user.lastname }}
                                                </h4>
                                            </div>
                                            <div class="col-md-4" style="text-align: center;">
                                                <a style="font-size: 16px;" ><i class="material-icons">star</i><i class="material-icons">star</i><span style="margin-left: 10px; margin-right: 10px; font-weight: bold;">{{ user.type }}</span><i class="material-icons">star</i><i class="material-icons">star</i></a>
                                            </div>
                                            <div class="col-md-4">
                                                
                                            </div>
                                        </div><br>
                                        
                                        <a style="font-size: 16px;" >{{ user.aboutme }} </a>
                                    </div>
                                    <div class="card-body p-5">
                                        
                                        <div class="row">
                                            <div class="col-md-8">
                                                <p>
                                                    <i class="material-icons" style="margin-right: 10px; margin-bottom: 0px; margin-top: auto;">email</i><span class="contenu">{{ user.email }}</span>
                                                </p>
                                            </div>
                                            <div class="col-md-4" *ngIf="user.type == 'alumni'">
                                                <p>
                                                    <i class="material-icons" style="margin-right: 10px; margin-bottom: 0px; margin-top: auto;">work</i><span class="contenu">{{ user.workAt }}</span>
                                                </p>
                                            </div>
                                            <div class="col-md-4" *ngIf="user.type == 'student'">
                                                <p>
                                                    <i class="material-icons" style="margin-right: 10px; margin-bottom: 0px; margin-top: auto;">school</i><span class="contenu">{{ user.class }}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <p>
                                                    <img src="../../../assets/img/linkedin.png" style="width: 23px; margin-right: 10px;"><span class="contenu">{{ user.linkedin }}</span>
                                                </p>
                                            </div>
                                            
                                            <div class="col-md-4">
                                                <p>
                                                    <i class="material-icons" style="margin-right: 10px; margin-bottom: 0px; margin-top: auto;">phone</i><span class="contenu">{{ user.phone }}</span>
                                                </p>
                                            </div>
                
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>
                                                    <i class="material-icons" style="margin-right: 10px; margin-bottom: 0px; margin-top: auto;">location_on</i><span class="contenu">{{ user.address }}</span>
                                                </p>
                                            </div>
                                            
                                        </div>
                                       
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="table-responsive" *ngIf="this.entity == 'company'">
                            
                            <div class="container">
                                <br><br>

                            
                            <div class="row" *ngFor="let company of companies; index as i">
                                <div class="card mb-5 mb-xl-0 card-profile">
                                    <div class="card-header card-header-danger" style="text-align: left;">
                                        
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="card-avatar" style="width: 85px;">
                                                    <a href="javascript:void(0)">
                                                        <img class="img" src="{{ this.getPictureCompany(i) }}" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="padding: 0px 0px;" id="nameComp">
                                                <h4 style="font-weight:bold;" >
                                                    {{ company.name }}
                                                </h4>
                                            </div>
                                            <div class="col-md-4" style="text-align: center;">
                                                <a style="font-size: 16px;" ><i class="material-icons">star</i><i class="material-icons">star</i><span style="margin-left: 10px; margin-right: 10px; font-weight: bold;">Company</span><i class="material-icons">star</i><i class="material-icons">star</i></a>
                                            </div>
                                            <div class="col-md-4">
                                                
                                            </div>
                                        </div><br>
                                        
                                        <a style="font-size: 16px;" >{{ company.about }} </a>
                                    </div>
                                    <div class="card-body p-5">
                                        
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p>
                                                    <i class="material-icons" style="margin-right: 10px; margin-bottom: 0px; margin-top: auto;">email</i><span class="contenu">{{ company.email }}</span>
                                                </p>
                                            </div>
                                            <div class="col-md-4">

                                                <p>
                                                    <i class="material-icons" style="margin-right: 10px; margin-bottom: 0px; margin-top: auto;">phone</i><span class="contenu">{{ company.phone }}</span>
                                                </p>
                                                
                                            </div>
                                            <div class="col-md-4">
                                                <p>
                                                    <i class="material-icons" style="margin-right: 10px; margin-bottom: 0px; margin-top: auto;">language</i><span class="contenu">{{ company.website }}</span>
                                                </p>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p>
                                                    <i class="material-icons" style="margin-right: 10px; margin-bottom: 0px; margin-top: auto;">flag</i><span class="contenu">{{ company.country }}</span>
                                                </p>
                                            </div>
                                            <div class="col-md-3">
                                                <p>
                                                    <i class="material-icons" style="margin-right: 10px; margin-bottom: 0px; margin-top: auto;">holiday_village</i><span class="contenu">{{ company.city }}</span>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    <i class="material-icons" style="margin-right: 10px; margin-bottom: 0px; margin-top: auto;">location_on</i><span class="contenu">{{ company.address }}</span>
                                                </p>
                                            </div>
                                            
                
                                        </div>
                                        
                                        
                                            
                                            
                                        
                                       
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>


                        </div>

                        <div class="table-responsive" *ngIf="this.entity == 'offer'">
                            
                            <div class="container">
                                <br><br>

                            
                                <div class="row" *ngFor="let n of offers; index as i">
                                    <div class="card mb-5 mb-xl-0 card-profile">
                                        <div class="card-header card-header-warning" style="text-align: left;">
                                            
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="card-avatar" style="width: 85px;">
                                                        <a href="javascript:void(0)">
                                                            <img class="img" src="{{ this.getPictureCompany(i) }}" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-2" style="padding: 0px 0px;" id="nameComp">
                                                    <h4 style="font-weight:bold;">
                                                        {{ this.companiesInfo[i].name }}
                                                    </h4>
                                                </div>
                                                <div class="col-md-4" style="text-align: center;">
                                                    <a style="font-size: 16px;" ><i class="material-icons">star</i><i class="material-icons">star</i><span style="margin-left: 10px; margin-right: 10px; font-weight: bold;">{{ n.type }}</span><i class="material-icons">star</i><i class="material-icons">star</i></a>
                                                </div>
                                                <div class="col-md-4">
                                                    
                                                </div>
                                            </div><br>
                                            
                                            <a style="font-size: 16px;" ><i class="material-icons" style="margin-right: 6px;">today</i>{{ n.start }} &#x2794; {{ n.end }}</a>
                                        </div>
                                        <div class="card-body p-5 actions">
                                            <!--<div class="row" style="direction: rtl;">
                                                <i style="cursor: pointer;" class="material-icons" (click)="deleteOffer(n.id)">delete_outline</i>
                                                <i style="cursor: pointer;" class="material-icons" (click)="this.update(n);this.togglePopup();">edit</i>
                                            </div>-->
                                            <div class="row">
                                                <h4 ><b>{{ n.title }}</b></h4>
                                            </div>
                                           
                                            <div class="row">
                                                <div class="mb-2">
                                                    <i class=" text-primary"></i>
                                                    <a>{{ n.content }}</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-1" *ngFor="let doc of n.docs">
                                                    <div class="row">
                                                        <a href="{{ doc.link }}"><img src="../../../assets/img/{{ doc.name.split('.')[doc.name.split('.').length - 1] }}.png" alt="" srcset="" style="width: 80px; max-width: 80%;"><span style="color: black; font-weight: bold;">{{ doc.name }}</span></a>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div><br><br>
                                </div><br><br>
                        </div>


                        </div>

                    </div>
                    <div class="card-body" *ngIf="this.mode == 'map'">
                        <app-map-user></app-map-user>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<div class="popup" id="popup-2">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" (click)="togglePopupCompany();">×</div>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile" style="background: linear-gradient(rgb(0, 66, 189), #ffffff);">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="{{ this.logo }}" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category" style="font-size:18px; color:rgb(15, 15, 15);">Company</h6>
                        <h4 class="card-title" style="font-weight: bold; color:rgb(15, 15, 15);">{{ this.company.name }}</h4>
                        <p class="card-description" style="font-size:18px; color:rgb(27, 27, 27);">
                            {{ this.company.about }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Profile company details</h4>

                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-5">
                                <p>
                                    <span class="titre">Company name : </span><span class="contenu">{{ this.company.name }}</span>
                                </p>
                            </div>

                            <div class="col-md-7">
                                <p>
                                    <span class="titre">Web site : </span><span class="contenu">{{ this.company.website }}</span>
                                </p>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-7">
                                <p>
                                    <span class="titre">Email : </span><span class="contenu">{{ this.company.email }}</span>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <span class="titre">Phone : </span><span class="contenu">{{ this.company.phone }}</span>
                                </p>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <p>
                                    <span class="titre">Country : </span><span class="contenu">{{ this.company.country }}</span>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <span class="titre">City : </span><span class="contenu">{{ this.company.city }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <span class="titre">Address : </span><span class="contenu">{{ this.company.address }}</span>
                                </p>
                            </div>
                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="popup" id="popup-99" style="background: rgba(238, 238, 238, 0);">
    <div class="overlay"></div>
        <div class="content" style="max-width: 520px;background: rgba(238, 238, 238, 0);">
        <img src="../../../assets/img/loading.jpg" alt="" srcset="" style="width: 30%;">
    </div>
</div>