<footer style="text-align: center;">
    <div style="text-align: center;">
        <nav style="text-align: center;">
            
                    <a href="http://www.enit.rnu.tn/" style="color: black;">
                        Ecole Nationale d'Ingénieurs de Tunis
                    </a>
                
            <div style="display: flex;flex-direction: row; text-align: center;">
                <a style="margin-left: auto;" href="https://www.facebook.com/Ecole-Nationale-dIng%C3%A9nieurs-de-Tunis-1416758158590021"><img src="../../../../assets/img/fb.png" style="width: 38px; cursor: pointer;"></a>
                <a style="margin-left: 10px; margin-right: 10px;"><img src="../../../../assets/img/insta.png" style="width: 38px;cursor: pointer;"></a>
                <a style=" margin-right: auto;"><img src="../../../../assets/img/twitter.png" style="width: 38px;cursor: pointer;"></a>
            </div>
        </nav>
    </div>
</footer>