<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>Presentation of the ICT department</h2>
                    </div>
                    <div class="text">Since its creation in 2000, the ICT Department of ENIT has sought
                        to meet the needs of the Tunisian ecosystem for quality engineers in the fields
                        of Information and Communication Technologies through the establishment of two
                        engineering courses: Telecommunications Engineers and Computer Engineers.</div>
                    <ul class="list-style-one">
                        <li>Computer Engineer</li>
                        <p>The objective of the ENIT's Computer Science programme is to train engineers
                            capable of applying solid scientific, technical and professional skills in
                            the field of computer science in particular, and Information and Communication
                            Technologies in general, in order to support the needs of organisations and companies
                            in the management of their information systems through the design, development,
                            implementation
                            and supervision of various hardware and software architectures.</p>
                        <li>Telecommunications Engineer</li>
                        <p>
                            The ENIT Telecommunications Engineer is required to analyse, design, develop,
                            experiment and produce Communications Systems intended for diversified applications,
                            while integrating the appropriate computer developments.
                        </p>
                    </ul>
                    <div class="btn-box">
                        <a href="http://tic-enit.herokuapp.com/visitor/contact" class="theme-btn btn-style-one">Contact Us</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
                                src="../../../assets/img/tic.png" alt=""></a></figure>
                    <figure class="image-2"><a href="#" class="lightbox-image" data-fancybox="images"><img
                                src="../../../assets/img/angular.png" alt=""></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>