<br>
<br>
<br>

<div class="about-section">
    <h1>About Us</h1>
    <p>----------------------------bla bla bla bla --------------------</p>
    <p>----------------------------bla bla bla bla --------------------</p>
</div>
<br>
<h2 style="text-align:center">Our Team</h2>
<br>
<br>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="../../../assets/img/zaghdoudi.jpg" alt="Zaghdoudi" style="width:100%">
            <div class="container">
                <center>
                    <h2> <i><b>Zaghdoudi Mohamed</b></i></h2>
                </center>

                <p class="title">software engineer student </p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mohamed.zaghdoudi@etudiant-enit.utm.tn</p>
                <p>
                    <a href="https://www.linkedin.com/in/mohamed-zaghdoudi-0a974b1bb/" class="button">Contact</a>
                </p>
                
                
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="../../../assets/img/kraiem.jpg" alt="Kraiem" style="width:100%">
            <div class="container">
                <h2><i><b>Kraiem Mouhamed albechir </b></i></h2>
                <p class="title">software engineer student </p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mouhamedalbechir.kraiem@etudiant-enit.utm.tn</p>
                <p>
                    <a href="https://www.linkedin.com/in/mouhamedalbechirkraiem/" class="button">Contact</a>
                </p>
            </div>
        </div>
    </div>


</div>
<br>
<br>
<br>